.container__app {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  grid-template-rows: auto;
  grid-template-areas: var(--grid-template-areas);
  row-gap: var(--grid-row-gap);
}

.section__nav-bar {
  grid-area: nav;
}

.section__hero {
  grid-area: hero;
}
.section__about {
  grid-area: about;
}

.section__reviews {
  grid-area: reviews;
}

.section__visit-us {
  grid-area: visit;
}

.section__gallery {
  grid-area: gallery;
}
