@import "./vars_desktop.css";
@import "./vars_mobile.css";

html {
  -webkit-font-smoothing: antialiased;
  outline: none;
  overflow-x: hidden;
}

body {
  margin: 0px;
  font-size: var(--font-size-medium);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: var(--background-color);
  font-size: var(--font-size-medium);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 200ms linear, color 200ms linear,
    fill 200ms linear, border 200ms linear;
}

h1 {
  text-align: center;
  font-weight: 400;
  font-family: Helvetica;
}
