:root {
  --padding: 15px;
  --nav-height: 40px;
  --hero-height: 300px;
  --body-width: 800px;
}

/* mobile */

@media (max-width: 768px) {
  :root {
    --padding: 20px;
    --nav-height: 0px;
  }
}
